# Data Science Capstone Project Assignment Notebook

In [2]:
import pandas as pd
import numpy as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Segmenting and Clustering Neighborhoods in Canada

If The beautifulSoup is not installed in your machine run this codes:
    
conda install -c anaconda lxml in cell 1

conda install -c anaconda beautifulsoup in cell 2



If lxml is not installed in your machine run the following line of code:

conda install -c anaconda lxml

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas

In [4]:
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'xml')
table = soup.find('table',{'class':'wikitable sortable'})

In [5]:
table_rows = table.find_all('tr')
data = []
for row in table_rows:
    td=[]
    for t in row.find_all('td'):
        td.append(t.text.strip())
    data.append(td)
df = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighborhood'])

In [6]:
df = df[~df['Borough'].isnull()]  # to filter out bad rows
df.drop(df[df.Borough == 'Not assigned'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()
df['Neighborhood'].replace('Not assigned',df['Borough'],inplace=True)
df

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                    Malvern / Rouge
1          M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2          M1E  Scarborough                Guildwood / Morningside / West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
101        M9V    Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [7]:
df.shape

(103, 3)

# geographical coordinates of the neighborhoods

In [8]:
import pandas as pd

url="https://cocl.us/Geospatial_data"
coordinates=pd.read_csv(url)

In [9]:
print('The coordinates dataframe shape is', coordinates.shape)
coordinates.head()

The coordinates dataframe shape is (103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Adding coordinates to the neighborhood dataframe using the postcodes as keys to join

In [10]:
postalcodes_with_coordinates = df.join(coordinates.set_index("Postal Code"), on="PostalCode")

postalcodes_with_coordinates.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,43.727929,-79.262029
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,43.711112,-79.284577
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West,43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff / Cliffside West,43.692657,-79.264848
10,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,43.757410,-79.273304
11,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849

In [11]:
for column in df.columns:
    df[column].replace('/', ',', regex=True, inplace=True) 
df.head(12)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                    Malvern , Rouge
1         M1C  Scarborough           Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough                Guildwood , Morningside , West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
7         M1L  Scarborough                  Golden Mile , Clairlea , Oakridge
8         M1M  Scarborough  Cliffside , Cliffcrest , Scarborough Village West
9         M1N  Scarborough                       Birch Cliff , Cliffside West
10        M1P  Scarborough  Dorset Park , Wexford Heights , Scarborough To...
11        M1R  Scarborough                                 Wexford , Maryvale